.row {
	width: 31em;
	margin: 0 auto;
}

.block {
	background-color: #f0ad4e;
	/*padding: 15%;*/
	width: 10em;
	height: 10em;
	margin: 0.5%;
	border-radius: 20%;
	float: left;
}

.btn {
	background-color: unset;
	color: #f0ad4e;
	width: 100%;
	margin: 0.5em 0;
}