body {
	margin: 0;
}

.header{
	width: 100%;
	height: 5em;
	background-color: #5AC0CE;
	display: flex;
}

.footer {
	width: 100%;
	height: 5em;
	background-color: #5AC0CE;
	position: fixed;
	bottom: 0;
}