body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar-header {
	height: 50px;
	background-color: #5EC0CE;
	margin-bottom: 0 !important;
}

.buttons {
	width: 12em;
	margin: 0 auto;
}

.btn1 {
	background-color: #53A9B2;
	color: #FFFFFF;
	font-size: 1.2em !important;
	position: relative;
	left: 0.2em;
}

.btn2 {
	background-color: #FFFFFF;
	color: #5EC0CE;
	font-size: 1.2em !important;
	position: relative;
	right: 0.3em;
}

.btn-map {
	border: 1px #5EC0CE;
    width: 32px; height: 34px;
    background: url('../imgs/list_img/sprites.png') -10px -65px;
    float: right;
    position: relative;
    bottom: 2.6em;
    right: 1em;
}

.main-btn-group {
	width: 100% !important;
	height: 35px;
	position: fixed !important;
}

.list-btn-group {
	width: 33.33%;
}

.list-btn1 {
	width: 100%;
	border-radius: 0 !important;
	border-left: none !important; 
	color: #B8B8B9 !important;
}

.list-btn2 {
	width: 100%;
	border-radius: 0 !important;
	color: #B8B8B9 !important;
}

.list-btn3 {
	width: 100%;
	border-radius: 0 !important;
	border-right: none !important;
	color: #B8B8B9 !important;
}

.caret { 
	color: #B8B8B9; 
}

.bg-home {
	width: 40px;
	color: #5EC0CE;
	margin: 0 auto;
}

.bg-write {
	width: 58px;
	height: 58px;
	border-radius: 5em;
	background-color: #5EC0CE;
	margin: 0 auto;
}

.bg-people {
	width: 40px;
	color: gray;
	margin: 0 auto;
}

.btn-home {
	border: 1px #5EC0CE;
	width: 38px; height: 35px;
    background: url('../imgs/list_img/sprites.png') -10px -10px;
}

.btn-write {
	border: 1px #5EC0CE;
    width: 30px; height: 30px;
    background: url('../imgs/list_img/sprites.png') -62px -65px;
    position: relative;
    top: 1em;
    left: 1.15em;
}

.btn-people {
	border: 1px #5EC0CE;
	width: 36px; height: 35px;
    background: url('../imgs/list_img/sprites.png') -70px -10px;
}

.home-text {
	position: relative;
	left: 0.4em;
}

.people-text {
	position: relative;
	left: 0.35em;
}

.navbar-footer { height: 70px !important; }

.col-xs-4 {
	top: 0.5em;
}

.bg-date {
	width: 24px; height: 24px;
    background: url('../imgs/list_img/sprites.png') -126px -10px;
    position: relative;
    top: 1.3em;
    right: 0.2em;
}

.bg-location {
	width: 19px; height: 23px;
    background: url('../imgs/list_img/sprites.png') -126px -54px;
    position: relative;
    bottom: 0.15em;
}

.price {
	color: red; 
	float: right; 
	position: relative; 
	bottom: 2em;
	right: 1em;
}

.right {
	width: 1.2rem;
    height: 1.2rem;
    border-top: 2px solid #5EC0CE;
    border-right: 2px solid #5EC0CE;
    transform: rotate(45deg);
    float: right;
    position: relative;
    bottom: 1.75em;
    left: 4.5em;
}

.location {
	position: relative; 
	bottom: 1.5em;
	color: #B8B8B9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	left: 2em;
}

.servce-date {
	color: #B8B8B9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	left: 2em;
}

.work-date {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	left: 2em;
}

.container-fluid {
	padding: 35px 0 !important;
	overflow-x: hidden;
}

.info {
	font-size: 1.5rem;
	border-bottom: 1px solid #CCCCCC;
}

.dropdown-menu {
	width: 100%;
}

li {
	text-align: center;
}