body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar-header {
	height: 50px;
	background-color: #5EC0CE;
	margin-bottom: 0 !important;
}

.buttons {
	width: 12em;
	margin: 0 auto;
}

.btn1 {
	background-color: #53A9B2;
	color: #FFFFFF;
	font-size: 1.2em !important;
	position: relative;
	left: 0.2em;
}

.btn2 {
	background-color: #FFFFFF;
	color: #5EC0CE;
	font-size: 1.2em !important;
	position: relative;
	right: 0.3em;
}

.btn-map {
	border: 1px #5EC0CE;
    width: 32px; height: 34px;
    background: url('../imgs/list_img/sprites.png') -10px -65px;
    float: right;
    position: relative;
    bottom: 2.6em;
    right: 1em;
}

.bg-home {
	width: 40px;
	margin: 0 auto;
}

.bg-write {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border-radius: 5em;
	background-color: #5EC0CE;
}

.bg-people {
	width: 40px;
	margin: 0 auto;
}

.btn-home {
	border: 1px #5EC0CE;
	width: 38px; height: 35px;
    background: url('../imgs/list_img/sprites.png') -10px -10px;
}

.btn-write {
	border: 1px #5EC0CE;
    width: 30px; height: 30px;
    background: url('../imgs/list_img/sprites.png') -62px -65px;
    position: relative;
    top: 1em;
    left: 0.16em;
}

.btn-people {
	border: 1px #5EC0CE;
	width: 36px; height: 35px;
    background: url('../imgs/list_img/sprites.png') -70px -10px;
}

td {
	/*border: 1px solid;*/
	width: 33.33%;
	text-align: center;
}