body {
	margin: 0;
	background-color: #EEF0F4;
}

.header{
	width: 100%;
	height: 50px;
	background-color: #5AC0CE;
	display: flex;
}

.header span {
	width: 4.5em;
	color: white;
	font-size: 1.2em;
	margin: 12px auto;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.footer {
	width: 100%;
	height: 80px;
	margin: 15px auto;
	position: fixed;
	bottom: 0;
	display: inline-flex;
}

.message {
	width: 48%;
	height: 80%;
	margin: 0.5em 0.2em 0.5em auto;
	border-radius: 0.5em;
	background-color: white;
	color: #5AC0CE;
	border: 3px solid #5AC0CE;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.connect {
	width: 48%;
	height: 80%;
	margin: 0.5em auto 0.5em 0.2em;
	border-radius: 0.5em;
	background-color: #5AC0CE;
	color: white;
	border: 3px solid #5AC0CE;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.main {
	width: 100%;
	height: 100%;
	background-color: white;
}

.img {
	width: 95%;
	height: 60px;
	border: 1px solid #E6E6E6;
	text-align: center;
}

.title {
	width: 95%;
	height: 60px;
	border: 1px solid #E6E6E6;
}

.abstract {
	width: 95%;
	height: 60px;
	border: 1px solid #E6E6E6;
}

.content {
	width: 95%;
	height: 60px;
	border: 1px solid #E6E6E6;
}

.content label {
	color: #AAAAAA;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.content input {
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #E6E6E6;
	text-indent: 20px;
}