body {
	margin: 0;
}

.header{
	width: 100%;
	height: 50px;
	background-color: #5AC0CE;
	display: flex;
}

.header span {
	width: 4.5em;
	color: white;
	font-size: 1.2em;
	margin: 12px auto;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.header img {
	width: 20px;
	height: 15px;
	position: relative;
	top: 1em;
	left: 1.3em;
}

.footer {
	width: 100%;
	height: 8.5%;
	position: fixed;
	bottom: 0;
	display: inline-flex;
}

.message {
	width: 48%;
	height: 80%;
	margin: 0.5em 0.2em 0.5em auto;
	border-radius: 0.5em;
	background-color: white;
	color: #5AC0CE;
	border: 3px solid #5AC0CE;
	font-size: 1.3em;
	letter-spacing: 0.1em;
}

.connect {
	width: 48%;
	height: 80%;
	margin: 0.5em auto 0.5em 0.2em;
	border-radius: 0.5em;
	background-color: #5AC0CE;
	color: white;
	border: 3px solid #5AC0CE;
	font-size: 1.3em;
	letter-spacing: 0.1em;
}

.main {
	width: 100%;
	height: 80%;
	background-color: white;
	position: fixed;
	overflow: scroll;
	overflow-x: hidden;
}

.abstract {
	width: 100%;
	height: 13em;
	color: white;
	background-image: url('./img/background.jpg');
	background-size: cover;
	display: flex;
}

.title {
	width: 100%;
	height: 60px;
	border: 1px solid #E6E6E6
}

.title span {
	font-weight: bold;
	padding-left: 0.8em;
	position: relative;
	top: 1em;
	left: 1em;
	border-left-color: #5AC0CE;
	border-left-style: solid;
	border-left-width: 0.3em;
}

.select {
	width: 100%;
	height: 60px;
	border: 1px solid #E6E6E6;
}

.select img {
	width: 18px;
	position: relative;
	top: 1.06em;
	left: 1em;
}

.select span {
	font-weight: bold;
	position: relative;
	top: 1em;
	left: 1em;
}

.content {
	width: 100%;
	height: 60px;
	border: 1px solid #E6E6E6;
}

.content label {
	color: #AAAAAA;
	font-weight: bold;
	letter-spacing: 0.1em;
	border-right-style: solid;
	border-right-color: #E6E6E6;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	top: 1em;
	left: 1em;
}

.content span {
	position: relative;
	top: 1em;
	left: 1.5em;
	font-size: 1.1em;
}