.top {
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
	background-color: #F0CA31;
}

.middle {
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
	background-color: red;
}

.bottom {
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
	background-color: green;
}