.top {
	width: 30%;
	height: 30%;
	min-width: auto;
	min-height: 300px;
	max-width: auto;
	max-height: auto;
	margin: 3px;
	border-radius: 20px;
	background-color: #F0CA31;
	display: block;
}

.first {
	width: auto;
	height: 10%;
	margin: 0 auto;
	vertical-align: middle;
	display: flex;
}

.second {
	width: auto;
	height: 10%;
	margin: 0 auto;
	vertical-align: middle;
	display: flex;
}

.third {
	width: auto;
	height: 10%;
	margin: 0 auto;
	vertical-align: middle;
	display: flex;
}

