.top {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
	border-radius: 20px;
	background-color: #F0CA31;
}

.middle {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
	border-radius: 20px;
	background-color: red;
}

.bottom {
	width: 100px;
	height: 100px;
	margin: 5px;
	float: left;
	border-radius: 20px;
	background-color: green;
}

